.splash-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #000; /* чорний фон */
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.splash-lottie {
  max-width: 100%;
  max-height: 100%;
}
