body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*  GLOBAL & RESET */

:root {
  --main-font: "JetBrains Mono", monospace;
}
body {
  font-family: var(--main-font);
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
html,
a,
body {
  cursor: none !important;
}

h1 {
  font-size: 4rem;
  font-weight: 600;
  margin: 0;
}

h2 {
  font-size: 2rem;
  font-weight: 400;
  margin: 0;
}

.align-left {
  text-align: left !important;
}

.align-right {
  text-align: right !important;
}

.align-right {
  text-align: center !important;
}

/*  CANVAS 3D SCENE */

canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw !important;
  height: 100vh !important;
  pointer-events: none;
  background: none !important;
}

/* LAYOUT CONTAINERS */
.main-container {
  position: relative;
  width: 100vw;
  min-height: 100vh;
  background-color: #f0f0f0;

  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

.background-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 0;
  pointer-events: none;
}

.scene-wrapper {
  width: 100dvw;
  height: 100dvh;
}

/* GLASS OVERLAY */
.glass-overlay {
  backdrop-filter: blur(15px);
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
}

/* HEADER */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: center;
  /* background: rgba(255, 255, 255, 0.3); */
  box-shadow: 0px 1px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  transition: background 0.3s ease-in-out, padding 0.3s ease-in-out;
  z-index: 999;
}


/* LOGO */
.logo-container {
  position: absolute;
  top: 20px;
  left: 20px;
  /* position: absolute; */
  /* transform: translate(0, 0); */
  transition: all 0.5s ease;
  font-size: 1.5rem;
  z-index: 99;
}

.logo-container.false{
  display: none;
}

.logo-container.in-header {
  top: 20px;
  left: 20px;
  transform: translate(0, 0);
  transition: all 0.5s ease;
  z-index: 999;
}

.header.scrolled .logo-container {
  position: absolute;
  top: 16px;
  left: 20px;
  transform: translate(0, 0);
  transition: all 0.5s ease;
  font-size: 24px;
  z-index: 999;
}

.logo-text {
  text-decoration: none;
  color: #111;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.02em;
  transform: translate(0, 0);
  transition: all 0.5s ease;
  z-index: 999;
}

.logo-sub {
  padding-left: 40%;
  z-index: 999;
}


/* MENU NAVIGATION */

.landing-nav ul {
  list-style: none;
  display: flex;
  gap: 40px;
  margin: 0;
  padding: 0;
}

.landing-nav ul li a {
  text-decoration: none;
  color: #111;
  font-size: 1.1rem;
  font-weight: 500;
  transition: color 0.3s ease-in-out;
}

.landing-nav ul li a:hover {
  color: #555;
}

.menu-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu-toggle {
  display: none;
}

.menu-icon {
  display: none;
}


/* HEADER BUTTONS */

.header-buttons-wrapper {
  display: flex;
  align-items: center;
  padding-left: 40px;
}

.header-buttons {
  display: flex;
  gap: 12px;
}

.header-buttons button {
  padding: 10px 18px;
  background: #222;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}

.header-buttons button:hover {
  background: #333;
}

.header-hub-button a {
  font-size: 1rem;
  color: #010101;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.header-hub-button a:hover {
  color: #555;
}

/* HEADER DONATION BUTTON*/
.container-donation-button-header {
  display: flex;
  align-items: center;
  padding-left: 40px;
}

.donation-button-header {
  display: inline-block;
  background-color: #fff;
  color: #111;
  font-size: 1.1rem;
  font-weight: 500;
  padding: 13px 20px;
  border-radius: 25px;
  text-decoration: none;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.15);
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.donation-button-header:hover {
  background-color: #111;
  color: #fff;
  transform: scale(1.05);
}




/* SECTIONS */
.page-section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.section-first-screen {
  display: flex;
  position: relative;

  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  text-align: center;

  padding-top: 4rem;
  min-height: 100vh;
  z-index: 10;

}

.section-whatIs {
  display: flex;
  position: relative;
  flex-direction: column;

  align-items: center;
  justify-content: center;
  text-align: center;

  padding: 150px 100px;
  height: 50vh;
  z-index: 10;
}

.section-nothing {
  display: flex;
  position: relative;

  align-items: center;
  justify-content: center;
  text-align: center;

  padding: 150px 100px;
  height: 50vh;
  z-index: 10;
}

.section-stories {
  display: flex;
  position: relative;
  flex-direction: column;

  align-items: center;
  justify-content: center;
  text-align: center;

  padding: 150px 100px;
  height: 100%;
  z-index: 10;
}

.section-interesting {
  width: 100%;
  height: 100%;

  padding-top: 100px;
  padding-bottom: 50px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-donation {
  display: flex;
  position: relative;
  flex-direction: column;

  align-items: center;
  justify-content: center;
  text-align: center;

  padding: 150px 100px;
  height: 50vh;
  z-index: 10;
}

.section-contact-us {
  display: flex;
  position: relative;
  flex-direction: column;

  align-items: center;
  justify-content: center;
  text-align: center;

  padding: 150px 100px;
  height: 50vh;
  z-index: 10;
}

.section-footer {
  display: flex;
  position: relative;
  flex-direction: column;

  align-items: center;
  justify-content: flex-end;
  text-align: center;

  z-index: 99;
}

.section-policy {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 40px 20px;
}

/* CONTAINERS */

.container-main {
  display: flex;
  position: relative;
  flex-direction: column;

  align-items: center;
  justify-content: center;
  text-align: center;

  width: 100%;
  max-width: 1000px;
}

.container-first-screen {
  display: flex;
  position: relative;
  flex-direction: column;

  align-items: center;
  justify-content: center;
  text-align: center;

  width: 100%;
  max-width: 1000px;
}

.container-stories {
  display: flex;
  position: relative;
  flex-direction: column;

  align-items: center;
  justify-content: center;
  text-align: center;

  gap: 50px;

  width: 100%;
  max-width: 1000px;

  z-index: 11;
}

.container-story-text {
  display: flex;
  position: relative;
  flex-direction: column;

  align-items: center;
  justify-content: center;
  text-align: center;

  gap: 10px;

  width: 100%;
  max-width: 600px;

  z-index: 11;
}

.container-interesting {
  padding: 6rem;
  display: flex;
  position: relative;
  flex-direction: column;

  align-items: center;
  justify-content: center;
  text-align: center;

  z-index: 11;
  overflow: hidden;
}

.container-donation {
  /* padding: 4rem; */
  display: flex;
  position: relative;
  flex-direction: column;

  align-items: center;
  justify-content: center;
  text-align: center;

  width: 100%;
  z-index: 11;
}

.container-contacts {
  display: flex;
  position: relative;
  flex-direction: column;

  align-items: center;
  justify-content: center;
  text-align: center;

  gap: 10px;

  width: 100%;
  max-width: 800px;

  z-index: 11;
}

.container-footer {
  display: flex;
  position: relative;
  flex-direction: column;

  align-items: center;
  justify-content: center;
  text-align: center;

  width: 100%;
  padding: 0.5rem;

  z-index: 999;
}

.container-social-icons {
  display: flex;
  justify-content: center;

  gap: 30px;
  margin: 20px auto;

  z-index: 999;
}

.container-policy {
  max-width: 800px;
  width: 100%;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  padding: 20px;
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}


/* STORIES CARDS */
.story-data {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 2rem;
}

.story-content {
  display: flex;
  align-items: center;
  gap: 20px;
}

.story:nth-child(even) .story-content {
  flex-direction: row-reverse;
}

.story:nth-child(even) .story-name {
  margin-left: auto;
}

.story-photo img {
  width: 300px;
  height: 450px;
  object-fit: cover;
}


/* TEXT */

/* TITLE TEXT */
.section-title-text {
  font-size: 120px;
  font-weight: 100;
  max-width: 750px;
  line-height: 100%;
  z-index: 10;
}

.first-screen-title-text {
  position: relative;
  padding-top: 3rem;
  transform: translateX(-50%);
  text-align: center;
  font-size: 74px;
  font-weight: bold;
  transition: all 0.3s ease; /* Додаємо плавність */
  z-index: 999;
  mix-blend-mode: difference;
}

.story-title-text {
  font-size: 64px;
  margin: 0;
}

.policy-title-text {
  font-size: 28px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
  color: #111;
}

/* DESCRIPTION TEXT */
.section-description-text {
  font-size: 22px;
  margin-top: 20px;
  max-width: 1000px;
  font-weight: 100;
  padding: 2rem
}

.first-screen-description-text {
  font-size: 36px;
  text-align: center;
  margin-top: 20px;
  padding: 2rem;
}

.story-description-text{
  font-size: 18px;
  margin-top: 20px;
  max-width: 1000px;
  font-weight: 100;
}

.policy-description-text {
  font-size: 16px;
  line-height: 1.6;
  color: #111;
  margin-bottom: 15px;
}


/* INTERESTING TEXT */
.interesting-text {
  font-size: clamp(60px, 20vw, 220px); /* Адаптивний розмір тексту */
  font-weight: 100;
  line-height: 1;
  text-transform: uppercase;
  display: inline-block;
  white-space: nowrap;
  position: relative;
  overflow: hidden;
  z-index: 10;
}

.interesting-text::after {
  position: absolute;
  left: 100%;
  top: 0;
  white-space: nowrap;
  transition: transform 0.3s ease-in-out;
}



.wrapper-interesting {
  display: inline-block;
  white-space: nowrap;
}

/* CONTACTS */
.contacts {
  /* padding: 1rem;
  font-size: 24px;
  line-height: 1.5; */
  margin-top: 30px;
  margin-bottom: 30px;
}

.contacts p {
  font-size: 24px;
  font-weight: 100;
  margin: 10px 0;
  color: #010101;
}

.contacts a {
  color: inherit;
  text-decoration: none;
  transition: color 0.8s ease;
}

.contacts p:hover {
  color: inherit;
  text-decoration: none;
  transition: color 0.8s ease;
}

.contacts a:hover {
  color: inherit;
  text-decoration: none;
  transition: color 0.8s ease;
}


/* SOCIAL ICONS */
.social-icon {
  font-size: 48px;
  color: #010101;
}

/* FOOTER SECTION*/
.footer-brand-text {
  font-weight: bold;
  text-transform: uppercase;
}

.footer-rights-text {
  font-size: 12px;
  opacity: 0.7;
}

.footer-links {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 10px;
}

.footer-links a {
  color: #111;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  transition: color 0.3s ease, text-shadow 0.3s ease;
}

.footer-links a:hover {
  color:  #333;
  text-shadow: 0 0 8px rgba(255, 255, 255, 0.8);
}


/* DONATION SECTION */
.button-donation-section {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 300px;
  color: #fff;
  background-color: #111;
  
  border-radius: 50%;
  font-size: 2.1rem;
  font-weight: 500;
  text-decoration: none;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.15);
  transition: background-color 0.3s ease, transform 0.3s ease;  
}

.button-donation-section:hover {
  color: #111;
  background-color: #fff;
  transform: scale(1.05);
}

/* MOBILE NAVIGATION */
@media (max-width: 930px) {
  body {
    font-size: 16px;
  }

  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 20px;
  }

  p {
    font-size: 14px;
  }

  .container-policy {
    padding: 20px;
  }

  .policy-title-text {
    font-size: 24px;
  }
}

@media (max-width: 930px) {
  /* HEADER */
  .header {
    padding: 35px;
  }

  .header.scrolled .logo-container {
    position: absolute;
    top: 10px;
    left: 10px;
    transform: translate(0, 0);
    transition: all 0.5s ease;
    font-size: 22px;
    z-index: 99;
  }

  .header.scrolled {
    z-index: 99;
  }

  /*LOGO */
  .logo-container {
    position: absolute;
    top: 15px;
    left: 15px;
    transform: translate(0, 0);
    transition: all 0.5s ease;
    z-index: 99;
  }

  .logo-container.false {
    position: absolute;
    top: 15px;
    left: 15px;
    transform: translate(0, 0);
    transition: all 0.5s ease;
    z-index: 999;
    display: none;
  }

 /* MENU NAVIGATION */
  .landing-nav {
    display: none;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    transition: max-height 0.3s ease-out;
    flex-direction: column;
  }

  .landing-nav.open {
    display: flex;
    right: 1rem;
    max-height: 100%;
    height: 100vh;
    width: 100%;
    position: relative;
  }

  .landing-nav ul {
    flex-direction: column;
    gap: 10px;
    align-items: center;
    display: none;
  }
  
  .landing-nav.open ul {
    display: flex;
  }

/* MENU */
  .menu-item {
    margin: 10px 0;
  }

  .menu-item a {
    display: block;
    padding: 20px;
    text-decoration: none;
    font-size: 1rem;
    color: #333;
    transition: color 0.3s ease;
  }

  .menu-item a:hover {
    color: #007bff;
  }

  .menu-toggle {
    position: absolute;
    top: 14px;
    right: 5rem;
    display: block;
    cursor: pointer;
  }
  .menu-checkbox {
    display: none;
  }

  .menu-icon {
    width: 45px;
    height: 45px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.15);
  }

  /* Burger Menu */
  .hamburger {
    width: 24px;
    height: 3px;
    background: black;
    position: relative;
  }

  .hamburger::before,
  .hamburger::after {
    content: "";
    display: block;
    width: 24px;
    height: 3px;
    background: black;
    position: absolute;
    transition: all 0.3s ease-in-out;
  }

  .hamburger::before {
    top: -8px;
  }

  .hamburger::after {
    top: 8px;
  }

  .menu-checkbox:checked + .menu-icon .hamburger {
    background: transparent;
  }

  .menu-checkbox:checked + .menu-icon .hamburger::before {
    transform: rotate(45deg);
    top: 0;
  }

  .menu-checkbox:checked + .menu-icon .hamburger::after {
    transform: rotate(-45deg);
    top: 0;
  }

  .menu-checkbox:checked ~ .landing-nav {
    transform: translateX(0);
  }
}

@media (max-width: 930px) {
/* SECTIONS */
  .page-section {
    flex-direction: column;
    height: auto;

    height: 100%;
    width: 100%;
    
    justify-content: center;
    align-items: center;
  }

  .section-first-screen {
    height: 100%;
    width: 100%;

    justify-content: center;
    align-items: center;
  }

  .section-whatIs {
    height: 100vh;
    width: 100%;

    padding: 0;

    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .section-nothing {
    height: 100vh;
    width: 100%;

    padding: 0;

    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .section-stories {
    width: 100%;

    padding: 0;

    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
  }

  /* .section-interesting{
    height: 50vh;
    width: 100%;

    padding: 0;

    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
  } */

  .section-donation {
    height: 100vh;
    width: 100%;

    padding: 0;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .section-contact-us {
    height: 60vh;
    width: 100%;

    padding: 0;

    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .section-footer {
    text-align: center;
  }

/* CONTAINERS */
  .container-first-screen {
    width: 100%;
    text-align: center;
  }

  .container-stories {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
  }

  .container-donation-button-header {
    padding-left: 0px;
    position: absolute;
    top: 14px;
    right: 9rem;
    display: block;
    cursor: pointer;
  }  

  /* TEXT */
  .section-title-text {
    font-size: calc(100vw / 8);
    font-weight: 60;
  }

  .section-description-text {
    font-size: 18px;
    margin-top: 16px;
    max-width: 1000px;
    font-weight: 100;
  }

  .first-screen-title-text {
    position: relative;
    padding-top: 3rem;
    transform: translateX(-50%);
    text-align: center;
    font-size: 44px;
    font-weight: bold;
    transition: all 0.3s ease;
    z-index: 999;
    mix-blend-mode: difference;
  }

  .first-screen-description-text {
    font-size: 26px;
    text-align: center;
  }

  .story-title-text {
    font-size: 20px;
    margin-bottom: 10px;
  }

  .story-description-text {
    font-size: 18px;
  }

  .interesting-text {
    font-size: calc(100vw / 3);
  }

/* Stories Section */
  .story-data {
    margin-bottom: 30px;
    padding-bottom: 20px;
  }

  .story:last-child {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
  }

  .story-content {
    display: block;
  }

  .story-photo {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
  }

  .story-photo img {
    width: 100%;
    max-width: 300px;
    height: auto;
    object-fit: cover;
  }

  .container-story-text {
    width: 100%;
    text-align: left;
  }

/* Contacts Section */
  /* .contacts {
    margin: 10px auto;
  } */

  .contacts a {
    font-size: 22px;
    color: inherit;
    text-decoration: none;
    transition: color 0.8s ease;
  }

  .contacts a:hover {
    color: #544545;
  }

  .container-social-icons {
    font-size: 24px;
    justify-content: center;
  }

  .social-icon {
    font-size: 24px;
    color: #010101;
  }
}


@media (max-width: 480px) {
  /* Глобальні стилі */
  body {
    font-size: 14px;
  }

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.2rem;
  }

  /* .logo-text {
    font-size: 1.8rem;
  } */

  .hamburger {
    font-size: 1.8rem;
  }

  /* First Screen */
  .section-first-screen{
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .first-screen-title-text {
    position: relative;
    right: 2rem;
    padding-top: 3rem;
    transform: translateX(-50%);
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    transition: all 0.3s ease;
    z-index: 999;
    mix-blend-mode: difference;
  }

  .first-screen-description-text {
    font-size: 26px;
  }

  /* Секції */
  .page-section {
    /* padding: 40px 15px; */
  }

  .section-whatIs {
    height: 100vh;
    width: 100%;

    justify-content: center;
    align-items: center;
  }

  .section-nothing {
    height: 100vh;
    width: 100%;

    justify-content: center;
    align-items: center;
  }

  .story-title-text {
    font-size: 20px;
  }

  .story-description-text {
    font-size: 18px;
  }

  /* Footer */
  .section-footer{
    font-size: 0.8rem;
  }

  .footer-brand-text {
    font-size: 1rem;
  }

  .footer-rights-text {
    font-size: 10px;
  }

  .container-social-icons {
    font-size: 50px;
  }
}
